#div1{border-radious:6px;
  border-height:10px;
  border-color:white;
  }
  #body{ background-image:url("wp6272612-4k-music-wallpapers.jpg");
  background-attachment: fixed;
  background-repeat:none;
  background-size: cover;
  pointer-events: none;
  display: block;

  }
  head{
    display: block;
  cursor: cell;

  }
  #wh { color:white;
  
  }
  #yellow { color:yellow;
  font-size:70px
  }
  #blue { color:blue;
  font-size:20px
  }
  #black { color:rgb(0, 0, 0);
    font-family: 'Tangerine', serif;
   font-size: 570%;
   text-shadow: 4px 4px 4px #aaa
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    height: 20%;
   margin-left:10%;
   background-color: transparent;
   background-size: cover;
   border-radius: 7px;
   color: #00e6c7;
  }
  
   th {
  color:#ffcc00;
    border: 8px solid ;
    text-align: left;
    padding: 8px;
    
  }
  td{color: transparent;
    border: 4px solid ;
    text-align: left;
    padding: 8px;
    border-radius: 7px;
    animation: glow 10s infinite ;
  }
  h4{
    color: black;
  }
  tr{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 7px;
  }
  
  :root {
    --background: #060608;
    --color: #FAFAFA;
  }
  
  .container {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    color:rgb(0, 0, 0);
    font-family: 'Tangerine', serif;
   font-size: 500%;
   text-shadow: 4px 4px 4px #aaa
  }
  
  .right {
    text-align: right;
    width: 100%;
    font-size: 30%;
    color: #FAFAFA;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 100%;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }
  .glow {
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: 'Tangerine', serif;
    margin-top: 0%;
   font-size: 400%;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes td {
    from {
       text-shadow: 0 0 10px #fd0101,  }
  }
  .menu-bar {
    size: 7%;
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
    pointer-events: all;
    cursor: pointer;
  }
  .menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
  .menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }
  .menu-bar li:hover {
    color: black;
  }
  .menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }
  .footer{
    border-radius: 7px;
    border-style: outset;
    border-color: #ffe600;
    background-color: #ffe600;
    width: 100%;
    height: 40%;
    pointer-events: all;
    cursor: default;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #f70303, 0 0 20px #ff0303, 0 0 30px #e69d00, 0 0 40px #e66f00, 0 0 50px #fc7507, 0 0 60px #e65c00, 0 0 70px #e64900;
    }
    
    to {
      text-shadow: 0 0 20px #0497f8, 0 0 30px #0875f1, 0 0 40px #06b6fc, 0 0 50px #0ff507, 0 0 60px #0ba6ee, 0 0 70px #4d7cff, 0 0 80px #d400ff;
    }}


    .videos{
      background-color: transparent;
      

    }
